$screen-xs-max: 375px;
$screen-sm-max: 768px;
$screen-md-max: 992px;
$screen-lg-max: 1200px;
@mixin xs {
  @media (min-width: #{$screen-xs-max}) {
    @content;
  }
}
@mixin sm {
  @media (min-width: #{$screen-sm-max}) {
    @content;
  }
}
@mixin md {
  @media (min-width: #{$screen-md-max}) {
    @content;
  }
}
@mixin lg {
  @media (min-width: #{$screen-lg-max}) {
    @content;
  }
}

footer {
  svg {
    transition: 0.25s;
    &:hover {
      color: black !important;
    }
  }
}

html,
body {
  height: 100%;
}

div#root {
  height: 100%;
  display: flex;
  justify-content: center;
}

div#root > div.container {
  margin: auto;
  @include xs {
    width: 100vw;
  }
  @include sm {
    width: 90vw;
  }
  @include md {
    width: 80vw;
  }
  @include lg {
    width: 50vw;
  }
}
