$screen-sm-min: 375px;
$screen-md-min: 768px;

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

footer {
  svg {
    transition: 0.25s;
    &:hover {
      color: black !important;
    }
  }
}

html,
body {
  height: 100%;
}

div#root {
  height: 100%;
  display: flex;
  justify-content: center;
}

div#root > div.container {
  margin: auto;
  @include sm {
    width: 80vw;
  }
  @include md {
    width: 50vw;
  }
}
