$screen-sm-min: 375px;
$screen-md-min: 768px;

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

footer {
  svg {
    transition: 0.25s;
    &:hover {
      color: black !important;
    }
  }
}

body {
  // background: blue;
}

div#root {
  height: 100vh;
}

div#root > div.container {
  height: 100%;
  @include sm {
    width: 80vw;
  }
  @include md {
    width: 50vw;
  }
}
